<div class="row">
  <div class="col-xs-12">
    <img
      [src]="selectedBookForDetails?.image"
      alt=""
      class="img-responsive"
      style="max-width: 250px; max-height: 350px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedBookForDetails?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group" aria-label="Button group" appDropdown>
      <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
        Manage Book<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item active"
            (click)="addStationaryToShoppingList()"
            >Add Book Stationary To Cart</a
          >
        </li>
        <li>
          <a class="dropdown-item active" (click)="onEditClick()">Edit Book</a>
        </li>
        <li>
          <a class="dropdown-item active">Delete Book</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ selectedBookForDetails?.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let stationaryItem of selectedBookForDetails?.stationaryItem"
      >
        {{ stationaryItem.name }} ({{ stationaryItem.ammount }})
      </li>
    </ul>
  </div>
</div>
