<div class="row">
  <div class="col-xs-12">
    <img
      [src]="selectedBookForDetails?.image"
      alt=""
      class="img-responsive"
      style="max-width: 250px; max-height: 350px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedBookForDetails?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    .
    <div class="btn-group" role="group" aria-label="Button group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Book<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item active" href="#"
            >Add Book Stationary To Cart</a
          >
        </li>
        <li>
          <a class="dropdown-item active" href="#">Edit Book</a>
        </li>
        <li>
          <a class="dropdown-item active" href="#">Delete Book</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ selectedBookForDetails?.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">BOOK DETAILS</div>
</div>
